:root{
  --bg-1: rgb(255, 0, 85);
  --bg-2: rgb(255, 85, 142);
  --bg-3: rgb(235, 0, 78);
  --bg-color: #FAFAFA;
  --bg-color-less: rgb(250, 250, 250);
  --text-color: black;
  --text-color-less: rgb(36, 36, 36);
  --nav-bg-color: rgb(246, 246, 255);
  --nav-footer-shadow: rgb(221, 221, 221);
  --scrollbar-track: rgb(209, 209, 209);
  --hover-color: rgb(236, 237, 242);
  --border-color: rgb(231, 231, 231);

  --footer-bg-color: rgb(245, 245, 245);
  --footer-color-contacts: rgb(75, 75, 75);
  --footer-bar: rgb(212, 212, 212);

  --i-color: var(--bg-3);
  
}
.darkmode{
  --bg-1: rgb(255, 0, 85);
  --bg-2: rgb(255, 85, 142);
  --bg-3: rgb(235, 0, 78);
  --bg-color: #05141d;                                                 /*   Add this to all  */
  --bg-color-less: #061720;                                                 
  --text-color: rgb(240, 240, 240);
  --text-color-less: rgb(201, 201, 201);
  --nav-footer-shadow: rgb(0, 0, 0);
  --scrollbar-track: rgb(39, 39, 39);
  --nav-bg-color: rgb(0, 0, 16);
  --hover-color: rgb(41, 40, 56);
  --border-color: rgb(74, 74, 74);
  
  --footer-bg-color: #071b29;
  --footer-color-contacts: rgb(200, 200, 200);
  --footer-bar: rgb(54, 54, 54);
  
  --i-color: var(--bg-2);
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  width: 8px;
  background-color: var(--scrollbar-track);
}
::-webkit-scrollbar-thumb {
  background-color: var(--bg-1);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--bg-3);
}
.no-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hidden{
  display: none;
}
.flex{
  display: flex;
}
*{
  font-family: "Poppins" , Arial, Helvetica, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
body{
  padding: 0px;
  margin: 0px;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.popup-screen{
    position: absolute;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    z-index: 10000;
}
.popup-1, .popup-2{
    height: 40px;
    width: fit-content;
    position: fixed;
    letter-spacing: 0.7px;
    font-size: 15px;
    font-weight: 400;
    bottom: 30px;
    margin: 0 auto;
    z-index: 1;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    color: var(--text-color-less);
    background-color: var(--bg-color);
    animation: slide 3s cubic-bezier(0.25, 0.8, 0.25, 1);
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}
@keyframes slide {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    25% {
        transform: translateY(-300px);
        opacity: 1;
    }
    75% {
        transform: translateY(-300px);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

                                                                  /*  Navbar Code Starts  */

.slide-animation{
  animation: my-slide 0.6s 1 forwards;
}

@keyframes my-slide{
  0%{
    transform: translateX(-75vw);
  }
  100%{
    transform: translateX(0vw);
  }
}
.slide-animation-rev{
  animation: my-slide-rev 0.6s 1 forwards;
}

@keyframes my-slide-rev{
  0%{
    transform: translateX(0vw);
  }
  100%{
    transform: translateX(-75vw);
  }
}
.navbar-side-div{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--bg-color-less);
  z-index: 10000;
  gap: 20px;
  flex-direction: column;
}
.navbar-fa-div{
  display: flex;
  justify-content: flex-end;
  background-color: var(--bg-color);
}
.navbar-fa-div i{
  position: absolute;
  right: 10px;
  top: 25px;
  color: var(--bg-2);
}
.navbar-side-div > div{
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.navbar-side-div a{
  text-decoration: none;
  color: var(--text-color);
  height: 100%;
  width: 90%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid var(--border-color);
}

.my-navbar-div{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  box-shadow: 0px 1px 12px 0.1px var(--nav-footer-shadow);
  background: linear-gradient(160deg, var(--bg-color),var(--nav-bg-color));
}
.website-logo-div{
  width: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1%;
  margin-left: 1%;
}
.nav-items-div{
  display: flex;
  flex-direction: row;
  gap: 12px;
  position: relative;
  top: 1px;
}
.nav-items-div a{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: rgb(157, 157, 157);
  font-weight: 400;
  &:hover{
    color: var(--text-color);
  }
}
.nav-items-div > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

}
.nav-items-div > div > div{
  height: 3px;
  width: 100%;
  border-radius: 50px;
  background-color: transparent;
}
.light-dark-div{
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-left: 25px;
}
.light-mode-svg, .dark-mode-svg{
  border-radius: 50%;
  margin: 5px;
  height: 15px;
  aspect-ratio: 1 / 1;
}
.hamburger-div{
  color: var(--bg-1);
  display: none;
}

.blur{
  animation: my-blur 0.6s 1 forwards;
  pointer-events: none;
}
@keyframes my-blur{
  from{
    filter: blur(0px);
  }
  to{
    filter: blur(2px);
  }
}
.blur-rev{
  animation: my-blur-rev 0.6s 1 forwards;
}
@keyframes my-blur-rev{
  from{
    filter: blur(2px);
  }
  to{
    filter: blur(0px);
  }
}

                                                            /*  Navbar ends  */

.total-div{
  height: fit-content;
  width: 100%;
  padding: 5vw;
  padding-top: 20vh;
  padding-bottom: 6vw;
}
.main-div{
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  grid-template-rows: 1fr;
  gap: 30px;
}
.left-div{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 2px solid var(--border-color);
}
.quick-navigation-div{
  width: 90%;
  display: flex;
  justify-content: flex-start;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.5px;
  background: linear-gradient(90deg,  #008cff,var(--text-color));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 10px;
}
.dashboard-div, .help-faq-div, .messages-and-support-div, .report-a-bug-div{
  padding: 10px;
  color: var(--text-color-less);
  height: 50px;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  cursor: pointer;
  &:hover{
    outline: 1px solid var(--hover-color);
  }
}
.left-div i{
  color: var(--i-color);
}
.top-nav-div i{
  color: var(--i-color);
}

.active-div{
  background: linear-gradient(155deg, var(--hover-color), var(--bg-color));
  &:hover{
    outline: 0;
  }
}
.top-nav-div {
  height: fit-content;
  width: fit-content;
  display: none;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid var(--border-color);
  border-radius: 50px;
}
.top-nav-div > div{
  width: 50px;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}


                                                                      /*  Right Div 1 starts  */

.right-div-1{
  height: 100%;
  flex-direction: column;
  gap: 20px;
}
.right-div-under-1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  height: fit-content;
}
.e-card {
  background: transparent;
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
  border: 1px solid var(--border-color);
}
.wave {
  position: absolute;
  width: 1000px;
  height: 800px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -25%;
  margin-top: 15%;
  background: linear-gradient(744deg,var(--bg-1),var(--bg-2) 60%,var(--bg-3));
}
.infotop {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}
.image-div{
  height: 120px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 3px solid var(--bg-color);
  margin: 10px;
}
.image-div img{
  width: 100%;
}
.name-div-top{
  margin-top: 50px;
  font-size: 20px;
  color: white;
  font-weight: 600;
}
.email-div-top{
  color: white;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  top: 1em;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}
.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}
.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}
.wave:nth-child(2) {
  animation-duration: 50s;
}
.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}
.wave:nth-child(3) {
  animation-duration: 45s;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.polls-created-participated-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}
.polls-created-div, .polls-participated-div{
  border-radius: 16px;
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.polls-created-text, .polls-participated-text{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 22px;
  letter-spacing: 0.5px;
}

.polls-created-number, .polls-participated-number{
  font-size: 50px;
}
.polls-created-seeall-arrow-div, .polls-participated-seeall-arrow-div{
  width: 90%;
  height: 20%;
  display: flex;
  justify-content: center;
}
.polls-created-seeall-btn, .polls-participated-seeall-btn{
  height: 100%;
  width: 80%;
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: none;
  outline: none;
  color: var(--bg-1);
  background-color: var(--bg-color);
  border: 2px solid var(--bg-1);
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.7px;
  &:hover{
    background-color: var(--bg-1);
    color: white;
  }
}
.right-div-under-2{
  height: 45px;
  width: 100%;
  border-radius: 50px;
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
}
.btn-shine a{
  color: rgb(59, 59, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  font-size: 16.5px;
  letter-spacing: 1px;
}

.btn-shine {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  background-color: var(--bg-color);
}

button:hover a {
  animation: storm1261 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes storm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  33% {
    transform: translate3d(0, 2px, 0) translateZ(0);
  }

  66% {
    transform: translate3d(0px, -2px, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}



.right-div-under-3{
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 25px;
}
.add-a{
  text-decoration: none;
  color: var(--bg-1);
}
.personal-informations-div{
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  border-radius: 16px;
  border: 1px solid var(--border-color);
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
}
.personal-information-text-div{
  height: fit-content;
  width: fit-content;
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: var(--text-color-less);
}
.username-div, .name-div, .bio-div, .nationality-div, .city-div, .dob-div, .status-div{
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px 5px;
  border-radius: 5px;
  width: 100%;
}
.username-left-div, .name-left-div, .bio-left-div, .nationality-left-div, .city-left-div, .dob-left-div, .status-left-div{
  font-weight: 500;
  color: var(--text-color);
}
.username-right-div, .name-right-div, .bio-right-div, .nationality-right-div, .city-right-div, .dob-right-div, .status-right-div{
  color: var(--text-color);
}
.status-right-div{
  display: flex;
  align-items: center;
  gap: 10px;
}
.shining-dot {
  width: 7px;
  height: 7px;
  background-color: limegreen;
  border-radius: 50%;
  box-shadow: 0 0 5px 2px rgba(50, 205, 50, 0.7);
  animation: glow 1.3s infinite alternate ease-in-out;
}

@keyframes glow {
  0% {
      box-shadow: 0 0 2.5px 1px rgba(50, 205, 50, 0.7);
  }
  100% {
      box-shadow: 0 0 8px 2px rgba(50, 205, 50, 1);
  }
}
.contact-details-div{
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  border-radius: 16px;
  border: 1px solid var(--border-color);
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
}
.contact-details-text-div{
  height: fit-content;
  width: fit-content;
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: var(--text-color-less);
}
.email-div, .phone-div, .website-div, .linkedin-div, .twitter-div, .facebook-div, .instagram-div{
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px 5px;
  border-radius: 5px;
  width: 100%;
}
.email-left-div, .phone-left-div, .website-left-div, .linkedin-left-div, .twitter-left-div, .facebook-left-div, .instagram-left-div{
  font-weight: 500;
  color: var(--text-color);
}
.email-right-div, .phone-left-div, .website-right-div, .linkedin-right-div, .twitter-right-div, .facebook-right-div, .instagram-right-div{
  color: var(--text-color);
}
.website-right-div{
  word-break: break-all;
}



/*  right-div-2 starts  */
.right-div-2{
  width: 100% !important;
  flex-direction: column;
}
.accordion{
  width: 100% !important;
}
.accordion-item{
  width: 100% !important;
}
.accordion-item h2{
  background: linear-gradient(155deg, var(--bg-color));
  width: 100% !important;
}
.accordion-button{
  background: linear-gradient(155deg, var(--bg-color-less), var(--bg-color));
  cursor: pointer;
  color: var(--text-color) !important;
  outline: 1px solid var(--border-color) !important;
  border: 0px;
  transition: none;
}
.accordion-button::after {
  filter: invert(21%) sepia(85%) saturate(5230%) hue-rotate(330deg) brightness(102%) contrast(100%);
}


.accordion-collapse{
  outline: 1px solid var(--border-color) !important;
}
.accordion-body{
  border: 0px;
  outline: 1px solid var(--border-color) !important;
  border: 1px solid var(--border-color) !important;
  color: var(--text-color-less) !important;
  background-color: var(--bg-color) !important;
}

.general-questions-div, .voting-process-div, .poll-management-div, .results-and-privacy-div, .technical-and-security-div{
  margin: 20px 1px;
  font-size: 23px;
}

/*  Right Div 3 starts  */

.right-div-3{
  flex-direction: column;
}
.send-a-message-div{
  margin: 18px 1px;
  font-size: 23px;
}
.send-message-div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  width: 100%;
}
.textarea{
  margin-bottom: 22px;
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  color: var(--text-color);
  border-radius: 12px;
  width: 100%;
  padding: 10px;
  resize: none;
}
.textarea:focus{
  border: 2px solid var(--bg-2);
  outline: none;
}
.send-btn{
  height: 40px;
  width: 150px;
  border-radius: 50px;
  color: var(--bg-1);
  background-color: var(--bg-color);
  border: 2px solid var(--bg-1);
  outline: none;
  &:hover{
    background-color: var(--bg-1);
    color: white;
  }
}
.right-div-4{
  flex-direction: column;
}
.report-bug-div{
  margin: 6px 0px;
  font-size: 23px;
  color: var(--text-color);
}
.find-issue-div{
  margin-top: -3px;
  margin-bottom: 18px;
  margin-left: 1px;
  font-size: 16px;
  color: var(--text-color-less);
}
.bug-form{
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.input-group{
  margin-bottom: 20px;
}
.input-group-text-first{
  width: fit-content;
  padding: 4px 30px;
  border: 2px solid var(--border-color);
  border-bottom: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: var(--bg-color-less);
  position: relative;
  left: 8px;
}
.form-input, .form-textarea{
  background-color: var(--bg-color);
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  border-radius: 10px;
  width: 100%;
  color: var(--text-color);
  padding: 7px;
}
.form-input:focus, .form-textarea:focus, .form-select:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: var(--bg-2);
}
.input-group input, .input-group textarea{
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  border: 2px solid var(--border-color);
  transition: none;
}
.input-group input:focus, .input-group textarea:focus{
  box-shadow: none !important;
  outline: 2px solid var(--bg-2) !important; 
  border: none !important;
}
.input-group-options{
  display: flex;
  flex-direction: row;
  max-width: 200px;
  flex-wrap: wrap;
}
.input-group-text{
  background-color: var(--bg-color-less) !important;
  color: var(--text-color-less) !important;
  border: 2px solid var(--border-color);
  width: fit-content;
}
.bug-description-div span{
  align-items: flex-start !important;
}
.bug-description-div textarea{
  resize: none;
}
.form-select{
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  border: 2px solid var(--border-color);
}
.submit-btn{
  height: 40px;
  width: 150px;
  border-radius: 50px;
  color: var(--bg-1);
  background-color: var(--bg-color);
  border: 2px solid var(--bg-1);
  outline: none;
  &:hover{
    background-color: var(--bg-1);
    color: white;
  }
}


.footer {
  background-color: var(--footer-bg-color);
  color: var(--text-color);
  padding: 40px 20px 10px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 20px;
}

.footer-section h2,
.footer-section h3 {
  color: var(--bg-1);
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li a {
  color: rgb(103, 103, 255);
  text-underline-offset: 4px;
}
.footer-section li{
  margin-top: 10px;
}
.contact p{
  margin-bottom: 10px;
  color: var(--text-color);
}
.footer-section ul li a:hover {
  color:rgb(44, 44, 255);
}
.footer-createpoll{
    color: rgb(103, 103, 255);
    background-color: transparent;
    border: none;
    padding: 0;
    text-decoration: underline;
    &:selection{
        color: #008cff;
    }
    &:hover{
        color:rgb(44, 44, 255);
    }
    &:active{
        border: none !important;
        color:rgb(44, 44, 255) !important;
    }
    &:focus{
        border: none !important;
        color:rgb(44, 44, 255) !important;
    }
}

.social-icons a {
  color:var(--bg-2);
  margin-right: 10px;
  font-size: 20px;
}

.social-icons a:hover {
  color: var(--bg-1);
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 2px solid var(--footer-bar);
  position: relative;
}

@media (max-width: 600px) {
.footer-container {
      text-align: center;
}
}


@media only screen and (max-width: 480px) {
  .navbar-side-div{
    width: 75vw;
  }
  .nav-items-top{
    display: none;
  }
  .light-dark-div{
    margin-left: 10px;
  }
  .hamburger-div{
    display: flex;
  }
  .light-dark-div{
    margin-left: auto !important;
    margin-right: 20px;
  }
  .left-div{
    display: none;
  }
  .top-nav-div{
    display: flex;
  }
  .main-div{
    grid-template-columns: 1fr;
  }
  .right-div-under-1{
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
  }
  .image-div{
    height: 80px;
    width: 80px;
    margin-top: 45px;
  }
  .polls-created-text, .polls-participated-text{
    width: min-content;
    font-size: 16px;
  }
  .polls-created-number, .polls-participated-number{
    font-size: 30px;
  }
  .polls-created-seeall-arrow-div, .polls-participated-seeall-arrow-div{
    width: 100%;
  }
  .polls-created-seeall-btn, .polls-participated-seeall-btn{
    width: 100%;
    height: 25px;
    font-size: 13px;
  }
  .right-div-under-3{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .submit-btn{
    width: 100%;
  }
  .send-btn{
    width: 100%;
  }
}
@media (min-width:481px) and (max-width: 576px) {
  .navbar-side-div{
    width: 60vw;
  }
  .nav-items-top{
    display: none;
  }
  .light-dark-div{
    margin-left: 10px;
  }
  .hamburger-div{
    display: flex;
  }
  .light-dark-div{
    margin-left: auto !important;
    margin-right: 20px;
  }
  .left-div{
    display: none;
  }
  .top-nav-div{
    display: flex;
  }
  .main-div{
    grid-template-columns: 1fr;
  }
  .right-div-under-1{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .polls-created-text, .polls-participated-text{
    width: min-content;
  }
  .polls-created-seeall-arrow-div, .polls-participated-seeall-arrow-div{
    width: 100%;
  }
  .polls-created-seeall-btn, .polls-participated-seeall-btn{
    width: 100%;
  }
  .right-div-under-3{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .navbar-side-div{
    width: 50vw;
  }
  .nav-items-top{
    display: none;
  }
  .light-dark-div{
    margin-left: 10px;
  }
  .hamburger-div{
    display: flex;
  }
  .light-dark-div{
    margin-left: auto !important;
    margin-right: 20px;
  }
  .left-div{
    display: none;
  }
  .top-nav-div{
    display: flex;
  }
  .main-div{
    grid-template-columns: 1fr;
  }
  .right-div-under-1{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .polls-created-text, .polls-participated-text{
    width: min-content;
  }
  .right-div-under-3{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .right-div-under-1{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .right-div-under-3{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .left-div{
    display: none;
  }
  .top-nav-div{
    display: flex;
  }
  .main-div{
    grid-template-columns: 1fr;
  }
}
@media (min-width: 991px) and (max-width: 1366px) {  
  .right-div-under-1{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}


































































/*  Personal Information, contact details  */
/*  Linkedin URL , your website   */

/*  If anyone tries to access this page using URL then throw the Error that's not the page you are looking for message  */
/*  Fix the dark mode  */
/*  Fix the box shadow  */
/*  Add the JS part for the Messages & Support webpage and Report a Bug webpage  */
/*  When the Navbar will be opened then eveyrthing else should stop working  */
/*  Add htmlspecialchars in every echo to prevent xss  */
/*  Add the backend for the send a message to us also for the report a bug */
/*  Show the dateJoined in the Profile  */