:root{
    --bg-1: rgb(255, 0, 85);
    --bg-2: rgb(255, 85, 142);
    --bg-3: rgb(235, 0, 78);
    
    --footer-bg-color: rgb(245, 245, 245);
    --footer-color-contacts: rgb(75, 75, 75);
    --footer-bar: rgb(212, 212, 212);
    
}
.darkmode{
    --bg-1: rgb(255, 0, 85);
    --bg-2: rgb(255, 85, 142);
    --bg-3: rgb(235, 0, 78);

    --footer-bg-color: #071b29;
    --footer-color-contacts: rgb(200, 200, 200);
    --footer-bar: rgb(54, 54, 54);

}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    width: 8px;
    background-color: rgb(209, 209, 209);
}
::-webkit-scrollbar-thumb {
    background-color: var(--bg-1);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--bg-3);
}
.no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hidden{
    display: none;
}
*{
    font-family: "Poppins" , Arial, Helvetica, sans-serif;
    font-weight: 400;
    box-sizing:border-box;
}
body{
    padding: 0px;
    margin: 0px;
}
                                                            /* Navbar Starts */
.nav{
    padding: 0px;
}
.btn-nav{
    outline: 2px solid var(--bg-1);
}
.nav-div{
    box-shadow: 0px 1px 12px 0.1px rgb(221, 221, 221);
    background-color: white;
}
.nav-item > a{
    color: rgb(109, 109, 109) !important;
    border-bottom: 3px solid white;
    text-align: center;
    &:hover{
        color: rgb(0, 0, 0) !important;
        border-bottom: 3px solid var(--bg-1);
    }
}
.nav-items{
    display: flex;
    gap: 30px;
    width: 100%;
}
.nav-items a{
    cursor: pointer;
}
.nav-side-item{
    display: flex;
    margin-left: auto;
}
.signup{
    background-color: var(--bg-1);
    border-radius: 25px;
    padding: 0px 20px;
    text-align: center;
}
.login{
    border-bottom: 3px solid var(--bg-1);
    padding: 0px 15px;
    text-align: center;
    margin-left: auto;
}
.signup > a {
    color: white !important;
}
                                               /*  Main Body Startes  */
.total-div{
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 0px 0px;
}
.middle-div{
    height: max-content;   /*  Made Changes  */
    margin-top: 20px;
    color: rgb(35, 35, 35);
    padding: 1vw;
}
.middle-div > h1{
    color: var(--bg-1);
    text-align: center;
}
.middle-div-under-1{
    height: fit-content;
    width: 100%;
    display: flex;
    gap: 20px 20px;
    flex-direction: row;
    justify-content: center;
}
/*  Data Charts CSS  */
.middle-div-under-1 > div{
    max-height: 400px;
    min-width: 60px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.poll-option{
    font-size: x-small;
}
.outer-bar{
    height: 300px;
    background-color: rgb(255, 233, 233);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.inner-bar{
    border-radius: 50px;
    width: 10px;
    background-color: var(--bg-1);
    color: var(--bg-1);
}
.outer-round{
    position: relative;
    top: -15px;
    width: 50px;
    aspect-ratio: 1 / 1;
    padding: 4px;
    background-color: var(--bg-1);
    border-radius: 50%;
}
.inner-round{
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.poll-percentage{
    font-weight: 600;
}
                                                                /*  Footer Starts  */
.footer {
    background-color: var(--footer-bg-color);
    color: var(--text-color);
    padding: 40px 20px 10px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 40px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 20px;
}

.footer-section h2,
.footer-section h3 {
    color: var(--bg-1);
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: rgb(103, 103, 255);
    text-underline-offset: 4px;
}
.footer-section li{
    margin-top: 10px;
}
.contact p{
    margin-bottom: 10px;
    color: var(--text-color);
}
.footer-section ul li a:hover {
    color:rgb(44, 44, 255);
}

.social-icons a {
    color:var(--bg-2);
    margin-right: 10px;
    font-size: 20px;
}

.social-icons a:hover {
    color: var(--bg-1);
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 2px solid var(--footer-bar);
    position: relative;
}

@media (max-width: 600px) {
  .footer-container {
        text-align: center;
  }
}


@media only screen and (max-width: 1240px) { /*  This is only for Poll Chart Div Responsiveness  */
    .middle-div-under-1{
        flex-wrap: wrap;
    }
    .box{
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
        width: fit-content;
        height: fit-content;
    }
    .outer-round{
        order: 1;
        top: 0px;
    }
    .outer-bar{
        order: 2;
        height: 10px;
        width: 50vw;
    }
    .inner-bar{
        height: 10px;
    }
    .poll-option{
        order: 3;
        position: relative;
        top: 8px;
    }
}