:root{
    --bg-1: rgb(255, 0, 85);
    --bg-2: rgb(255, 85, 142);
    --bg-3: rgb(235, 0, 78);
    --bg-color: white;
    --bg-color-less: rgb(250, 250, 250);
    --text-color: black;
    --text-color-less: rgb(36, 36, 36);
    --nav-bg-color: rgb(246, 246, 255);
    --nav-footer-shadow: rgb(221, 221, 221);
    --middle-div-under-1: rgb(255, 255, 255);
    --side-div: #EDEEF2;
    --title-text: rgb(0, 0, 0);
    --create-text-1: rgb(255, 0, 85);
    --create-text-2: rgb(255, 155, 155);
    --scrollbar-track: rgb(209, 209, 209);
    --box-border: #DFE0E1;
    --box-color: rgb(255, 255, 255);
    --growth-gradient-color: rgb(215, 218, 228);
    --participant-header-div-gradient-color: rgb(255, 136, 166);
    --green-shadow: rgb(155, 255, 155);

    --hover-color: rgb(245, 245, 245);
    --dropdown-text-color: rgb(26, 26, 26);
    --dropdown-bg-color: rgb(250, 250, 255);

    --footer-bg-color: rgb(245, 245, 245);
    --footer-color-contacts: rgb(75, 75, 75);
    --footer-bar: rgb(212, 212, 212);

}
.darkmode{
    --bg-1: rgb(255, 0, 85);
    --bg-2: rgb(255, 85, 142);
    --bg-3: rgb(235, 0, 78);
    --bg-color: #05141d; 
    --bg-color-less: #061720;   
    --text-color: rgb(240, 240, 240);
    --text-color-less: rgb(201, 201, 201);
    --nav-bg-color: rgb(0, 0, 16);
    --nav-footer-shadow: rgb(0, 0, 0);
    --middle-div-under-1: rgb(27, 30, 36);
    --side-div: #1a1c22;
    --title-text: rgb(246, 247, 249);
    --create-text-1: rgb(255, 255, 255);
    --create-text-2: rgb(119, 114, 148);
    --scrollbar-track: rgb(39, 39, 39);
    --box-border: #505050;
    --box-color: rgb(31, 31, 31);
    --growth-gradient-color: rgb(255, 0, 85);
    --participant-header-div-gradient-color: rgb(21, 0, 0);
    --green-shadow: rgb(0, 255, 0);
    
    --hover-color: rgb(32, 32, 32);
    --dropdown-text-color: rgb(248, 248, 248);
    --dropdown-bg-color: rgb(22, 22, 22);

    --footer-bg-color: #071b29;
    --footer-color-contacts: rgb(200, 200, 200);
    --footer-bar: rgb(54, 54, 54);

}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    width: 8px;
    background-color: var(--scrollbar-track);
}
::-webkit-scrollbar-thumb {
    background-color: var(--bg-1);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--bg-3);
}
.no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.disabled-button{
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}
.hidden{
    display: none;
}
.flex{
    display: flex;
}
*{
    font-family: "Poppins" , Arial, Helvetica, sans-serif;
    font-weight: 400;
    box-sizing:border-box;
}
body{
    padding: 0px;
    margin: 0px;
    background-color: var(--bg-color);
    color: var(--text-color);
}
                                                            /* Navbar Starts */
.slide-animation{
  animation: my-slide 0.6s 1 forwards;
}

@keyframes my-slide{
  0%{
    transform: translateX(-75vw);
  }
  100%{
    transform: translateX(0vw);
  }
}
.slide-animation-rev{
  animation: my-slide-rev 0.6s 1 forwards;
}

@keyframes my-slide-rev{
  0%{
    transform: translateX(0vw);
  }
  100%{
    transform: translateX(-75vw);
  }
}
.navbar-side-div{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--bg-color);
  z-index: 10000;
  gap: 20px;
  flex-direction: column;
}
.navbar-fa-div{
  display: flex;
  justify-content: flex-end;
  background-color: var(--bg-color);
}
.navbar-fa-div i{
  position: absolute;
  right: 10px;
  top: 25px;
  color: var(--bg-2);
}
.navbar-side-div > div{
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.navbar-side-div a{
  text-decoration: none;
  color: var(--text-color);
  height: 100%;
  width: 90%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid var(--box-border);
}

.my-navbar-div{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  box-shadow: 0px 1px 12px 0.1px var(--nav-footer-shadow);
  background: linear-gradient(160deg, var(--bg-color),var(--nav-bg-color));
}
.website-logo-div{
  width: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1%;
  margin-left: 1%;
}
.nav-items-div{
  display: flex;
  flex-direction: row;
  gap: 12px;
  position: relative;
  top: 1px;
}
.nav-items-div a{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: rgb(157, 157, 157);
  font-weight: 400;
  &:hover{
    color: var(--text-color);
  }
}
.nav-items-div > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

}
.nav-items-div > div > div{
  height: 3px;
  width: 100%;
  border-radius: 50px;
  background-color: transparent;
}
.light-dark-div{
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-left: 25px;
}
.light-mode-svg, .dark-mode-svg{
  border-radius: 50%;
  margin: 5px;
  height: 15px;
  aspect-ratio: 1 / 1;
}
.hamburger-div{
  color: var(--bg-1);
  display: none;
}
.blur{
    animation: my-blur 0.6s 1 forwards;
    pointer-events: none;
  }
  @keyframes my-blur{
    from{
      filter: blur(0px);
    }
    to{
      filter: blur(2px);
    }
  }
  .blur-rev{
    animation: my-blur-rev 0.6s 1 forwards;
  }
  @keyframes my-blur-rev{
    from{
      filter: blur(2px);
    }
    to{
      filter: blur(0px);
    }
  }
.login{
      border-bottom: 3px solid var(--bg-1);
      text-align: center;
      margin-left: auto;
      &:hover{
        border-bottom: 3px solid var(--bg-3);
      }
}
.login a { 
    padding: 6px 15px;
    transition: none;
}
.signup{
    background-color: var(--bg-1);
    border-radius: 50px;
    text-align: center;
    margin-right: 10px;
    &:hover{
      background-color: var(--bg-3);
    }
}
.signup a{
    padding: 7px 20px;
    height: 100%;
    width: 100%;
    transition: none;
    color: white;
    &:hover{
      color: white;
    }
}
/*  Profile CSS starts  */
.dropdown-profile-div{
    margin-left: auto;
    margin-right: 8px;
    cursor: pointer;
}
.profile{
    height: 45px !important;
    width: 45px !important;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255) !important;
}
.profile-logo{
    height: 100%;
    width: 100%;
}
.profile-dropdown-div{
    height: fit-content;
    background-color: var(--dropdown-bg-color);
    position: absolute;
    top: 54.5px;
    right: 13px;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15), 
    0 4px 12px rgba(0, 0, 0, 0.10);
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    cursor:default;
}
.profile-image-name-div{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.profile-image-div{
    display: flex;
    align-items: center;
}
.profile-image-div > a{
    height: 80px;
}
.profile-name-div{
    min-width: 150px;
}
.profile-name-div > a{
    height: fit-content;
    width: min-content;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: left;
    font-weight: 500;
    letter-spacing: 0.5px; 
    color: var(--text-color); 
}
.horizontal-line{
    height: 1.5px;
    width: 100%;
    background: linear-gradient(155deg, rgb(220, 220, 220), rgb(65, 65, 65));
    border-radius: 10px;
    margin-top: 0.8rem;
    margin-bottom: 0.9rem;
}
.profile-div, .edit-div, .signout-div{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 15px;
    height: 30px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    &:hover{
        background-color: var(--hover-color);
    }
}
.profile-div > i, .edit-div > i .signout-div > i{
    color: var(--dropdown-text-color);
}
.profile-div > a, .edit-div > a{
    width: 100%;
    text-decoration: none;
    color: var(--dropdown-text-color);
    font-weight: 300;
    letter-spacing: 0.5px;
}
.signout-div button{
    border: none;
    outline: none;
    padding: 0;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: var(--dropdown-text-color);
    background-color: var(--dropdown-bg-color);
}
.profile-dropdown{
    background-color: var(--bg-color) !important;
}
.profile-dropdown a{
    color: rgb(157, 157, 157) !important;
    &:hover{
        color: var(--text-color) !important;
        background-color: var(--bg-color);
    }
}
/*  Profile CSS ends  */

/*  Poll display code starts  */
.total-div{
    min-height: 100vh;
    height: fit-content;
    padding: 20px;
}
.main-div-1{
    height: fit-content;
    width: 100%;
}
.participant-view{
    height: fit-content;
    width: 100%;
    margin-top: 63px;
    border-radius: 10px;
    border: 2px solid var(--box-border);
}
.participant-header-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(155deg, var(--bg-1), var(--participant-header-div-gradient-color));
}
/* .participant-header-image-div{
    background-color: var(--bg-color);
    border-radius: 50%;
    padding: 20px;
    margin: 10px;
    float: left;
}
.participant-image{
    height: 80px;
} */
.participant-header-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 15px;
}
.participant-header-name{
    color: white;
    font-size: 18px;
    word-break: break-all;
  }
  .participant-header-title{
    color: white;
    font-size: 28px;
    font-weight: 500;
    word-break: break-all;
  }
  .participant-description{
    padding: 15px;
    background: linear-gradient(155deg, var(--bg-color), var(--box-color));
    color: var(--text-color-less);
    border-bottom: 2px solid var(--box-border);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    word-break: break-all;
  }
/* .participant-body-heading{
    padding: 7px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: rgb(0, 209, 0);
    font-weight: 500;
    border: 2px solid rgb(0, 209, 0);
    margin: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
} */
.participant-poll-options-div{
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    justify-content: center;
    gap: 15px;
}
.option-div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    align-items: center;
    border-radius: 5px;
    outline: 2px solid var(--box-border);
    cursor: pointer;
}
.preview-option{
    height: fit-content;
    width: 85%;
    padding: 7px;
    color: var(--option-color);
}
.green-dot-div{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
}
.green-dot-border{
    height: 14px;
    aspect-ratio: 1 / 1;
    padding: 2px;
    border-radius: 50%;
    background-color: rgb(200, 200, 200);
}
.green-dot{
    height: 10px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--bg-color);
}
.green-dot-bg-add{
    background-color: lime !important;
    box-shadow: 0 0 5px 2px lime;
    animation: glow 1.3s infinite alternate ease-in-out;
}
  @keyframes glow {
    0% {
        box-shadow: 0 0 2.5px 1px lime;
    }
    100% {
        box-shadow: 0 0 15px 3.5px var(--green-shadow);
    }
}
.participants-horizontal-line-div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.participants-horizontal-line{
    height: 1.5px;
    width: 98%;
    border-radius: 20px;
    background-color: var(--box-border);
}
.participants-horizontal-line-div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.participants-footer-div{
    height: fit-content;
    width: 100%;
    padding: 15px;
    text-align: end;
}
.participants-footer-buttons-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}
.participants-footer-btn-exit{
    font-weight: 500;
    letter-spacing: 0.5px;
    width: 150px;
    padding: auto;
    color: var(--text-color);
    outline: 2px solid var(--box-border);
    background-color: var(--bg-color-less);
    border-radius: 50px;
    transition: none;
    &:hover{
        color: var(--text-color);
        outline: 2px solid var(--box-border);
        background-color: var(--bg-color);
    }
}
.participants-footer-btn-submit{
    width: 150px;
    background: linear-gradient(155deg, rgb(0, 142, 0), rgb(67, 220, 67));
    background-size: 150% 150%;
    border-radius: 50px;
    color: white;
    border: none;
    outline: none;
    padding: auto;
    font-weight: 500;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-position 0.5s ease-in-out;
    animation: leftSlide 1.5s ease-in-out forwards;
    &:hover {
        background-position: right bottom;
        color: white;
    }
}
.login-to-submit{
  font-size: 15px;
  justify-content: end;
  margin-top: 10px;
  color: var(--bg-2);
}
.already-voted-text{
  color: rgb(0, 198, 0);
  font-weight: 500;
}
.main-div-2{
  height: fit-content;
  width: 100%;
}
.admin-btn-div{
  height: fit-content;
  width: 100%;
  padding-top: 20px;
}
.admin-btn{
  padding: 5px 11px;
  margin-bottom: 60px;
}
.admin-btn {
  position: relative;
  display: inline-block;
  padding: 5px 11px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--bg-2);
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid var(--bg-2);
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 var(--bg-2);
}
.admin-btn:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 var(--bg-2);
}
.admin-btn:active {
  transform: scale(0.9);
}
.not-started-yet {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 99.5vw;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
}
.ended {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 99.5vw;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
}
.center-message {
  font-weight: 500;
}
.my-fa{
  font-size: 50px;
  color: var(--bg-2);
}
.countdown-fa-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/*  Poll display code ends  */
/*  Footer starts  */
.footer {
  background-color: var(--footer-bg-color);
  color: var(--text-color);
  padding: 40px 20px 10px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 20px;
}

.footer-section h2,
.footer-section h3 {
  color: var(--bg-1);
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li a {
  color: rgb(103, 103, 255);
  text-underline-offset: 4px;
}
.footer-section li{
  margin-top: 10px;
}
.contact p{
  margin-bottom: 10px;
  color: var(--text-color);
}
.footer-section ul li a:hover {
  color:rgb(44, 44, 255);
}

.social-icons a {
  color:var(--bg-2);
  margin-right: 10px;
  font-size: 20px;
}

.social-icons a:hover {
  color: var(--bg-1);
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 2px solid var(--footer-bar);
  position: relative;
}

@media (max-width: 600px) {
    .footer-container {
          text-align: center;
    }
}

/*  Footer ends  */

/*  Navbar Media Quires Start  */
@media only screen and (max-width: 480px) {
    /* Add this */
    .profile-dropdown-div{
      padding: 0.5rem;
    }
    .profile-image-name-div{
      gap: 0.5rem;
    }
      /* Add this ends */
    .admin-btn{
      height: 40px;
      width: 100%;
      font-size: 15px;
    }
    .navbar-side-div{
      width: 75vw;
    }
    .nav-items-top{
      display: none;
    }
    .hamburger-div{
      display: flex;
    }
    .light-dark-div{
      margin-left: 10px;
      margin-right: 20px;
    }
    .total-div{
      padding: 6px;
    }
    .participant-header-name{
      font-size: 11px;
    }
    .participant-header-title{
      font-size: 18px;
    }
    .login-to-submit{
      font-size: 12px;
    }
  }
  @media (min-width:481px) and (max-width: 576px) {
    /* Add this */
    .profile-dropdown-div{ 
      padding: 0.5rem;
    }
    .profile-image-name-div{
      gap: 0.5rem;
    }
      /* Add this ends */
    .admin-btn{
      font-size: 17px;
    }
    .navbar-side-div{
      width: 60vw;
    }
    .nav-items-top{
      display: none;
    }
    .hamburger-div{
      display: flex;
    }
    .light-dark-div{
        margin-left: 10px;
        margin-right: 20px;
    }
    .total-div{
      padding: 8px;
    }
    .participant-header-name{
      font-size: 12px;
    }
    .participant-header-title{
      font-size: 20px;
    }
  }
  
  @media (min-width: 577px) and (max-width: 768px) {
    .navbar-side-div{
      width: 50vw;
    }
    .nav-items-top{
      display: none;
    }
    .hamburger-div{
      display: flex;
    }
    .light-dark-div{
        margin-left: 10px;
        margin-right: 20px;
    }
    .total-div{
      padding: 10px;
    }
    .participant-header-name{
      font-size: 14px;
    }
    .participant-header-title{
      font-size: 22.5px;
    }
  }
  @media (min-width: 769px) and (max-width: 991px) {
    .total-div{
      padding: 15px;
    }
    .participant-header-name{
      font-size: 16px;
    }
    .participant-header-title{
      font-size: 25px;
    }
  }
  @media only screen and (max-width: 600px) {
    .participant-description{
      font-size: 13px;
    }
    .preview-option{
      font-size: 12px;
    }
  }
/*  Navbar ends  */


/*  Change the green dot color in the light mode  */
/*  Fix the signout  */
/*  Make each and every poll option box of equal height because when there is a two line option in the 1st row and 1 line option in the second row then its appearing a bug  */